seed: 42
algo_name: "ddpg"

env:
  id: "HalfCheetah-v5"
  n_envs: 8
  env_kwargs: {}

vec_normalize:
  enabled: true
  norm_obs: true
  norm_reward: true
  clip_obs: 10.0
  gamma: 0.99

algo:
  policy: "MlpPolicy"

  # Exploration
  action_noise_sigma: 0.1

  # Learning
  learning_rate: 0.001
  buffer_size: 1000000
  learning_starts: 25000
  batch_size: 256
  tau: 0.005
  gamma: 0.99

  # Update cadence
  train_freq: [1, "step"]
  gradient_steps: -1

  # Networks
  policy_kwargs:
    net_arch:
      pi: [256, 256]
      qf: [256, 256]
    activation_fn: "relu"

  verbose: 1


training:
  total_timesteps: 1000000
  tensorboard_log: "./logs/ddpg_half_cheetah_tb/"

  checkpoint:
    enabled: true
    save_freq_timesteps: 50000
    save_path: "./models/ddpg_half_cheetah"
    name_prefix: "ddpg_hc"

  resume: false
  resume_model_path: "./models/ddpg_half_cheetah/final_model.zip"
  resume_vecnormalize_path: "./models/ddpg_half_cheetah/vec_normalize_stats.pkl"

evaluation:
  enabled: true
  n_eval_episodes: 20
  deterministic: true
  render: false
  eval_freq_timesteps: 1250
  eval_env_kwargs: {}
