seed: 42
algo_name: "ppo"

env:
  id: "Ant-v5"
  n_envs: 8            
  env_kwargs: {}

vec_normalize:
  enabled: true
  norm_obs: true
  norm_reward: false 
  clip_obs: 10.0
  gamma: 0.99

algo:
  policy: "MlpPolicy"

  # Learning Rate
  learning_rate: 3.0e-4

  
  n_steps: 256           
  
  batch_size: 64        
  n_epochs: 10           
  
  # PPO Specifics
  gamma: 0.99
  gae_lambda: 0.95
  clip_range: 0.2
  clip_range_vf: null
  
  # Entropy & Gradients
  ent_coef: 0.0          
  vf_coef: 0.5
  max_grad_norm: 0.5
  
  # Advanced
  use_sde: false
  target_kl: null

  # Networks
  policy_kwargs:
    net_arch:
      pi: [256, 256]
      vf: [256, 256]
    activation_fn: "relu"
  verbose: 1

training:
  total_timesteps: 2000000 
  tensorboard_log: "./logs/ppo_ant_tb/"

  checkpoint:
    enabled: true
    save_freq_timesteps: 100000
    save_path: "./models/ppo_ant/"
    name_prefix: "ppo_ant"

  resume: false
  resume_model_path: "./models/ppo_ant/final_model.zip"
  resume_vecnormalize_path: "./models/ppo_ant/vec_normalize_stats.pkl"

evaluation:
  enabled: true
  n_eval_episodes: 20
  deterministic: true
  render: false
  eval_freq_timesteps: 10000
  eval_env_kwargs: {}